[
    {
        "id": 36722441,
        "campaign_id": 187,
        "salutation": 187,
        "first_name": "Cher\"\"",
        "last_name": "Conradie",
        "email": "phoenixc.cher@gmail.com",
        "password": "phoenixc.cher@gmail.com",
        "company": "phoenixc.cher@gmail.com",
        "website": "phoenixc.cher@gmail.com",
        "job_title": "phoenixc.cher@gmail.com",
        "department": "phoenixc.cher@gmail.com",
        "country": "phoenixc.cher@gmail.com",
        "address_one": "phoenixc.cher@gmail.com",
        "address_two": "phoenixc.cher@gmail.com",
        "city": "phoenixc.cher@gmail.com",
        "state": "phoenixc.cher@gmail.com",
        "territory": "phoenixc.cher@gmail.com",
        "zip": "phoenixc.cher@gmail.com",
        "phone": 820545590,
        "fax": 820545590,
        "source": "Internet Search",
        "annual_revenue": "Internet Search",
        "employees": "Internet Search",
        "industry": "Internet Search",
        "years_in_business": "Internet Search",
        "comments": "Internet Search",
        "notes": "Internet Search",
        "score": 1727,
        "grade": "C",
        "last_activity_at": "2020-09-16 09:39:33",
        "recent_interaction": "Inactive since: Sep 16, 2020",
        "crm_lead_fid": "[[crm_ignore_prospect]]",
        "crm_contact_fid": "[[crm_ignore_prospect]]",
        "crm_owner_fid": "00541000002XfcaAAC",
        "crm_account_fid": "00541000002XfcaAAC",
        "salesforce_fid": "00541000002XfcaAAC",
        "crm_last_sync": "2017-06-29 13:04:50",
        "crm_url": "2017-06-29 13:04:50",
        "is_do_not_email": "2017-06-29 13:04:50",
        "is_do_not_call": "2017-06-29 13:04:50",
        "opted_out": "2017-06-29 13:04:50",
        "is_reviewed": 1,
        "is_starred": 1,
        "created_at": "2017-06-29 12:28:17",
        "updated_at": "2020-11-20 04:51:01",
        "assigned_to_id": 10060471,
        "last_activity_id": 2822877334,
        "Acceptance_Letter_Sent": "Full acceptance",
        "Document": "No",
        "Campaign_Source": "Term 3, 2020 Campaign",
        "Campus_Website": "Online",
        "Enquiry_Date": "2020-09-04",
        "Gender": "Female",
        "Payment_Options": "Term",
        "Campus": "Online Learning",
        "Registered": true,
        "Student_Age": "30-35",
        "Student_Business_Email": "phoenixc.cher@gmail.com",
        "Student_Gender": "Female",
        "Student_Number": 303606,
        "Student_Personal_Mobile": "0820545590",
        "Study_Mode": "Part-time"
    }
]
